
#wrapper{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "hd"
    "nv"
    "div1"
    "mn1"
    "div2"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 10% 5fr 1fr 5fr;
    
}

#header1{
    grid-area: hd;
    background-color: #d9c8b0;
}
#nav1{
    grid-area: nv;
    background-color: #d9c8b0;
}
#bild1{
    grid-area:div1;
    background-color: #7b8c78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}
#main1{
    grid-area: mn1;
    background-color: #7b8c78;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#bild2{
    grid-area: div2;

}
#natur1
{    border-radius: 5px; /*Samma storlek*/
	border-radius: 10x 10px 10px 10px; /*tl, tr, br, bl*/
    height: 20em; 
   w

}
